html {
  height: 100%;
}

html, body {
  margin: 0px;
}

body {
  min-height: 100%;
  background: linear-gradient(90deg, hsla(282, 36%, 25%, 1) 0%, hsla(310, 22%, 37%, 1) 100%);
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  margin: 50px 0px;
  width: 50vw;
  border-radius: 20px;
  padding: 40px;
}

#inputField {
  width: auto;
  height: 46px;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  font-size: 30px;
}


.to-dos {
  margin-top: 25px;
}

.paragraph-styling {
  background-color: lightgray;
  padding: 8px;
  margin: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  flex: auto;
}

.delete-button {
  height: 40px;
  padding: 0px 8px;
}

.todo-item {
  display: flex;
  gap: 20px;
  margin: 15px auto;
  align-items: center;
}

.todo-done {
  text-decoration: line-through;
}
