html, body {
  width: 50%;
  margin: 0px auto;
}

.container {
  width: 400px;
}

#inputField {
  width: auto;
  height: 46px;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  font-size: 30px;
}


.to-dos {
  margin-top: 25px;
}

.paragraph-styling {
  background-color: lightgray;
  padding: 4px;
  cursor: pointer;
  font-size: 20px;
  flex: auto;
}

.delete-button {
  height: 30px;
}

.todo-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo-done {
  text-decoration: line-through;
}
